@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'quran';
    src: url(../fonts/Quran.woff2) format("woff2");
    font-style: normal;
    font-display: swap;
}
* {
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.head-box2 svg{
    color: #047c46;
}
body {
    background: #f1f1f1;
    height: 100vh;
    touch-action: none;
}

nav {
    height: 120px;
    width: 100%;
    background: linear-gradient(to bottom, #27be4d, #30c561);
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 20px;
    padding-top: 20px;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}

header .logo {
    color: white;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header .hum-icon {
    color: white;
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 7px;
}

header .hum-icon:active {
    background-color: rgb(255, 255, 255, 0.1);
}


.menu-bg {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
}

.menu-bg.active {
    display: block;
}

.menu {
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;
    width: 100%;
    background: white;
    position: fixed;
    bottom: -500px;
    transition: bottom 0.333s;
    z-index: 11;
}

.menu.active {
    bottom: 0;
}

.menu ul {
    padding: 18px 0;
}

.menu ul li {
    padding: 10px 0 10px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    gap: 20px;
    cursor: pointer;

}

.menu ul li:active,
menu ul li:focus {
    background-color: rgb(247, 247, 247);
}
main{
    margin: 15px;
    
}
.date-box {
    margin-top: -50px;
    border-radius: 13px;
    border: none;
    position: relative;
}

.h-date {
    background-color: white;
    padding: 20px 30px;
    border-radius: 13px;
    position: relative; 
    z-index: 3;
}
.h-date span#h-today{
    font-weight: 500;
}

.date-info {
    background-color: #047c46;
    padding: 15px 10px 5px 10px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: -29px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    color: white;
}
.date-info-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 1px;
    font-size: 14px;
}
.resume-read{
    margin-top: 38px;
    border-radius: 13px;
    padding: 15px;
    background-color: #cca90d;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resume-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.resume-item .text-resume{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resume-item .resume-surah{
    padding-left: 10px;
    color: white;
    font-family: "quran",sans-serif;
    font-size: 18px;
}
.resume-item .resume-juzz{
    line-height: 12px;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 10px;
    font-size: 12px;
}
.resume-btn{
    padding: 8px 10px;
    background-color: white;
    border-radius: 5px;
    font-size: 13px;
    color: #cca90d;
    font-weight: 500;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}
.main-container{
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: space-between;

}
.box{
    width: 47%;
    display: flex;
    flex: auto 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 29px;
    background-color: white;
    color: black;
    border-radius: 13px;
    box-shadow: rgba(50, 50, 93, 0.01) 0px 2px 5px -1px, rgba(0, 0, 0, 0.01) 0px 1px 3px -1px;
    text-decoration: none;
}
.box .box-text{
    font-size: 13px;
}
.goto-bg.active{
    position: absolute;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: block;
}
.goto-bg{
    display: none;
}
.goto-box.active{
    background-color: white;
    border-radius: 7px;
    padding: 20px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    display: block;
}
.goto-box{
    display: none;
}
.goto-box h2{
    font-size: 19px;
    font-weight: 700;
}
.goto-box input{
    margin: 20px 0;
    margin-bottom: 30px;
    width: 100%;
    caret-color: #047c46;
    border: none;
    border-bottom: 1px solid #047c04;
    padding: 5px ;
}
.goto-box input:focus{
    outline: none;
}
.goto-btns{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
.goto-btns .goto-btn{
    font-size: 14px;
    font-weight: 500;
    color: #2b2b2b;
    cursor: pointer;
}
.goto-btns .goto-btn.btn2{
    color: #047c04;
}
.invalidMsg{
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: 45px;
}